{% extends 'base.html' %}
{% block head_title %}{{ post.title }}{% endblock %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
  <div class="egel_post_meta">
    {{ post.created }}
  </div>

  <div class="egel_post_body">
    {{ post.body|safe|linebreaks }}
  </div>

  <div>
    Categories:
    {% for category in post.categories.all %}
      <a href="{% url 'blog.views.view_category' category.slug %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </div>
{% endblock %}
