## Python - Django ##
#####################
*.log
*.pot
*.pyc
local_settings.py

# copied static files
static/static-only/


## Virtualenv files ##
######################
bin/
include/
local/
lib/


## Pycharm ##
#############
*.idea/


## Unnecessary files ##
#######################
README.html
*.sublime-workspace
